<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aol.philipphofer">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMob_ID"/>

        <activity
            android:name=".logic.StartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="hofer.sudoku.expert" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="https"
                    android:host="philipphofer.de"
                    android:path="/share"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logic.MainActivity"
            android:parentActivityName=".logic.StartActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.Settings"
            android:parentActivityName=".logic.MainActivity"
            android:launchMode="singleInstance"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.Statistics"
            android:parentActivityName=".logic.MainActivity"
            android:launchMode="singleInstance"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>